<div class="container">

  <!-- Battle Button -->
  <div class="row mb-4">
    <div class="col-md-6 mx-auto text-center">
      <input (click)="refresh()" type="button" class="btn btn-light bg-light mx-2" value="Refresh">
      <input (click)="battle(); log()" type="button" class="btn btn-primary mx-2" value="Battle!">
    </div>
  </div>

  <!-- Your Champions -->
  <div class="row text-center mb-2" *ngIf="!battleStarted">
    <div class="col-md-12 mx-auto rounded">
      <h1>Your Champions</h1>
    </div>
  </div>
  <!-- Final Result -->
  <div class="row mb-4">
    <div class="col-md-6 mx-auto text-center">
      <span class="card text-white bg-success" *ngIf="finalResult==='win'">YOU WIN!</span>
      <span class="card text-white bg-secondary" *ngIf="finalResult==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="finalResult==='lose'">YOU LOSE</span>
    </div>
  </div>
  <div class="row text-center mb-4">
    <!-- Champion 1 -->
    <div class="col-md-2 mx-auto">
      <select name="hero1" [(ngModel)]="champions[0].name" (change)="setChampionClass(champions[0].name)"
        [disabled]="battleStarted">
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="champions[0].name"></div>
    </div>
    <!-- Champion 2 -->
    <div class="col-md-2 mx-auto">
      <select name="hero2" [(ngModel)]="champions[1].name" (change)="setChampionClass(champions[1].name)"
        [disabled]="battleStarted">
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="champions[1].name"></div>
    </div>
    <!-- Champion 3 -->
    <div class="col-md-2 mx-auto">
      <select name="hero2" [(ngModel)]="champions[2].name" (change)="setChampionClass(champions[2].name)"
        [disabled]="battleStarted">
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="champions[2].name"></div>
    </div>
    <!-- Champion 4 -->
    <div class="col-md-2 mx-auto">
      <select name="hero4" [(ngModel)]="champions[3].name" (change)="setChampionClass(champions[3].name)"
        [disabled]="battleStarted">
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="champions[3].name"></div>
    </div>
    <!-- Champion 5 -->
    <div class="col-md-2 mx-auto">
      <select name="hero5" [(ngModel)]="champions[4].name" (change)="setChampionClass(champions[4].name)"
        [disabled]="battleStarted">
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="champions[4].name"></div>
    </div>
  </div>

  <!-- Battle Results -->
  <div class="row text-center mb-4" *ngIf="battleStarted">
    <div class="col-md-2 mx-auto">
      <span class="card text-white bg-success" *ngIf="battleResult[0]==='win'">WIN</span>
      <span class="card text-white bg-secondary" *ngIf="battleResult[0]==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="battleResult[0]==='lose'">LOSE</span>
    </div>
    <div class="col-md-2 mx-auto">
      <span class="card text-white bg-success" *ngIf="battleResult[1]==='win'">WIN</span>
      <span class="card text-white bg-secondary" *ngIf="battleResult[1]==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="battleResult[1]==='lose'">LOSE</span>
    </div>
    <div class="col-md-2 mx-auto">
      <span class="card text-white bg-success" *ngIf="battleResult[2]==='win'">WIN</span>
      <span class="card text-white bg-secondary" *ngIf="battleResult[2]==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="battleResult[2]==='lose'">LOSE</span>
    </div>
    <div class="col-md-2 mx-auto">
      <span class="card text-white bg-success" *ngIf="battleResult[3]==='win'">WIN</span>
      <span class="card text-white bg-secondary" *ngIf="battleResult[3]==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="battleResult[3]==='lose'">LOSE</span>
    </div>
    <div class="col-md-2 mx-auto">
      <span class="card text-white bg-success" *ngIf="battleResult[4]==='win'">WIN</span>
      <span class="card text-white bg-secondary" *ngIf="battleResult[4]==='draw'">DRAW</span>
      <span class="card text-white bg-danger" *ngIf="battleResult[4]==='lose'">LOSE</span>
    </div>
  </div>

  <!-- Enemy Champions -->
  <div class="row text-center mb-2" *ngIf="!battleStarted">
    <div class="col-md-12 mx-auto rounded">
      <h1>VS</h1>
    </div>
  </div>
  <div class="row text-center mb-4">
    <!-- Champion 1 -->
    <div class="col-md-2 mx-auto">
      <select name="hero1" [(ngModel)]="championsEnemy[0].name"
        (change)="setChampionClass(championsEnemy[0].name, 'Enemy')" disabled>
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="championsEnemy[0].name"></div>
    </div>
    <!-- Champion 2 -->
    <div class="col-md-2 mx-auto">
      <select name="hero2" [(ngModel)]="championsEnemy[1].name"
        (change)="setChampionClass(championsEnemy[1].name, 'Enemy')" disabled>
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="championsEnemy[1].name"></div>
    </div>
    <!-- Champion 3 -->
    <div class="col-md-2 mx-auto">
      <select name="hero2" [(ngModel)]="championsEnemy[2].name"
        (change)="setChampionClass(championsEnemy[2].name, 'Enemy')" disabled>
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="championsEnemy[2].name"></div>
    </div>
    <!-- Champion 4 -->
    <div class="col-md-2 mx-auto">
      <select name="hero4" [(ngModel)]="championsEnemy[3].name"
        (change)="setChampionClass(championsEnemy[3].name, 'Enemy')" disabled>
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="championsEnemy[3].name"></div>
    </div>
    <!-- Champion 5 -->
    <div class="col-md-2 mx-auto">
      <select name="hero5" [(ngModel)]="championsEnemy[4].name"
        (change)="setChampionClass(championsEnemy[4].name, 'Enemy')" disabled>
        <option value=""></option>
        <option *ngFor="let champion of championsList" value="{{champion.name}}">{{champion.name}}</option>
      </select>
      <div class="championImg" [ngClass]="championsEnemy[4].name"></div>
    </div>
  </div>

</div>