select {
  padding: 2px 0;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
  width: 100%;
}

.championImg {
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  height: 200px;
  margin-top: 5px;
  width: auto;
}